<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpUser" value="iaeaeoaaao09@gmail.com" />
		<add key="UseRealEmail" value="true" />
		<add key="SmtpPass" value="ouqc vhfr kzys txxi" />
	</appSettings>
	<connectionStrings>
		<add name="GymManagementDb"
			 connectionString="Server=DESKTOP-1SFN2LH;Database=GymManagementDB;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>